<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>br.com.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionController</servlet-name>
        <servlet-class>br.com.controller.ActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleController</servlet-name>
        <servlet-class>br.com.controller.ModuleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogController</servlet-name>
        <servlet-class>br.com.controller.LogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmeController</servlet-name>
        <servlet-class>br.com.controller.FilmeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>br.com.controller.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionController</servlet-name>
        <servlet-class>br.com.controller.PermissionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionController</servlet-name>
        <url-pattern>/PermissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleController</servlet-name>
        <url-pattern>/ModuleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateController</servlet-name>
        <url-pattern>/AuthenticateController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticateController</servlet-name>
        <servlet-class>br.com.controller.AuthenticateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateController</servlet-name>
        <url-pattern>/AuthenticateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionController</servlet-name>
        <url-pattern>/ActionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogController</servlet-name>
        <url-pattern>/LogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmeController</servlet-name>
        <url-pattern>/FilmeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
